.no-estimate {
  &-add {
  }
  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &-group {
    background: #fafafa;
    padding: 2rem;
    h3 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    &__header {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr 8fr 2fr;
      gap: 2rem;
    }
  }
  &-control {
  }
  &-tooltip {
    display: none;
  }
  &-item {
    width: 80%;
  }
}
